:root {
  --index: calc(1vw + 1vh);
}

body {
  margin: 0;
}

.layers {
  height: 100vh;
  overflow: hidden;
  perspective: 1000px;
}

.layers__container {
  height: 100vh;
  position: relative;
  transform: rotateX(var(--move-y)) rotateY(var(--move-x));
  transform-style: preserve-3d;
  transition: transform 0.2s ease-out;
  will-change: transform;
}

.layer-1 {
  position: absolute;
  inset: -6vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 100%;
  transform: translateZ(-55px) scale(1.08);
}

.coral {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.coral-1 {
  width: calc(var(--index) * 22);
  height: calc(var(--index) * 22);
  left: -10px;
  bottom: -10px;
  background-image: url('../images/coral-1.png');
  transform: translateZ(100px) scale(1.15);
}

.coral-2 {
  width: calc(var(--index) * 13);
  height: calc(var(--index) * 21.7);
  right: 0;
  bottom: 0;
  background-image: url('../images/coral-2.png');
  transform: translateZ(100px);
}

.coral-3 {
  width: calc(var(--index) * 15);
  height: calc(var(--index) * 15);
  bottom: -60px;
  left: 35vw;
  background-image: url('../images/coral-3.png');
  transform: translateZ(10px);
}

.fish {
  width: calc(var(--index) * 12);
  height: calc(var(--index) * 10);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.3s linear;
}

.fish-1,
.fish-2,
.fish-3 {
  top: 50%;
  right: 100%;
  background-image: url('../images/fish-1.png');
  transform: translateZ(60px) scale(0.28);
  animation: fish1 20s ease-in infinite;
}

.fish-2 {
  transform: translate(0, -150px) scale(0.35);
  animation: fish2 20s linear 5s infinite;
}

.fish-3 {
  top: 0;
  transform: translateZ(5px) scale(0.28);
  animation: fish3 10s ease-in infinite;
}

@keyframes fish1 {
  0% {
    transform: translateX(0) scale(0.28);
  }
  30% {
    transform: translateX(50vw) scale(0.28);
  }
  35% {
    transform: translateX(51vw) scale(0.28) rotateY(-180deg);
  }
  65% {
    transform: translateX(0) scale(0.28) rotateY(-180deg);
  }
  100% {
    transform: translateX(0) scale(0.28) rotateY(-180deg);
  }
}

@keyframes fish2 {
  0% {
    transform: translate(0, -150px) scale(0.35) rotateZ(15deg);
  }
  49% {
    transform: translate(55vw, 10px) scale(0.35) rotateZ(15deg);
  }
  50% {
    transform: translate(56vw, 5px) scale(0.35) rotateZ(15deg);
  }
  65% {
    transform: translate(65vw, -10px) scale(0.35) rotateZ(-40deg);
  }
  100% {
    transform: translate(110vw, -350px) scale(0.5) rotateZ(-40deg);
  }
}

@keyframes fish3 {
  0% {
    transform: translate(0, 70vh) scale(0.28);
  }
  40% {
    transform: translate(70vw, 70vh) translateZ(5px) scale(0.28);
  }
  42% {
    transform: translate(70vw, 70vh) translateZ(15px) scale(0.28) rotateY(-180deg);
  }
  65% {
    transform: translate(0, 70vh) translateZ(15px) scale(0.28) rotateY(-180deg);
  }
  100% {
    transform: translate(0, 70vh) translateZ(15px) scale(0.28) rotateY(-180deg);
  }
}

.bubble {
  width: calc(var(--index) * 2.5);
  height: calc(var(--index) * 2.5);
  position: absolute;
  top: 100%;
  left: 0;
  background: url('../images/bg-bubble.png');
  background-size: 100%;
  opacity: 0.6;
}
